<!-- Blue Component -->

@inject AppStateForComponent AppState

<button @onclick="SelectColour">Select Blue</button>

@code {

    void SelectColour()
    {
        AppState.SetColour("Blue");
    }

}