@page "/GetFileListEx/UserDocument"
@using System.IO

<h3>GetFileListEx</h3>
<h4>docPath : @docPath</h4>
@foreach(string str in dirs)
{
    @str<br />
}
@code {     
    private string docPath;
    private List<string> dirs;

    protected override void OnInitialized()
    {
        docPath = Environment.GetFolderPath(Environment.SpecialFolder.MyDocuments);
        dirs = new List<string>(Directory.EnumerateDirectories(docPath));
    }
}
