@* Design From https://bootsnipp.com/snippets/Q0dAX *@

<div class="page-wrapper chiller-theme toggled">
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#">pro sidebar</a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>Example</span>
                    </li>
                    <li>
                        <NavLink href="AnimateEx">AnimateEx</NavLink>
                    </li>
                    <li>
                        <NavLink href="ComponentsEx">ComponentsEx</NavLink>
                    </li>
                    <li>
                        <NavLink href="CookieEx">CookieEx</NavLink>
                    </li>
                    <li>
                        <NavLink href="DBEx">DBEx</NavLink>
                    </li>
                    <li>
                        <NavLink href="GenericEx">GenericEx</NavLink>
                    </li>
                    <li class="sidebar-dropdown">
                        <NavLink @onclick="ShowSideMenu">InputEx</NavLink>
                        <div class="sidebar-submenu @inputSubMenuCSS">
                            <ul>
                                <li>
                                    <NavLink href="counter">Text, Selection</NavLink>
                                </li>
                                <li>
                                    <NavLink href="counter">Radio, Checkbox</NavLink>
                                </li>
                                <li>
                                    <NavLink href="counter">Separated link</NavLink>
                                </li>
                                <li>
                                    <NavLink href="counter">One more separated link</NavLink>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <NavLink href="JsonEx">JsonEx</NavLink>
                    </li>
                    <li>
                        <NavLink href="LogEx">LogEx</NavLink>
                    </li>
                    <li>
                        <NavLink href="OptionPatternEx">OptionPatternEx</NavLink>
                    </li>
                    <li>
                        <NavLink href="SessionEx">SessionEx</NavLink>
                    </li>
                    <li>
                        <NavLink href="SettingsEx">SettingsEx</NavLink>
                    </li>
                    <li>
                        <NavLink href="WebAPIEx">WebAPIEx</NavLink>
                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
    </nav>
</div>

@code {
    private bool isShowForInputSubMenu = false;
    private string inputSubMenuCSS => isShowForInputSubMenu ? "active display" : "hidden";

    protected void ShowSideMenu()
    {
        isShowForInputSubMenu = !isShowForInputSubMenu;
    }
}
