@page "/SCSSTest/Index"
@page "/SCSSTest"
<div id="wrap">
    <!-- skipNav -->
    <ul id="skipNav">
        <li><a href="">menu1</a></li>
        <li><a href="">menu2</a></li>
        <li><a href="">menu3</a></li>
    </ul>
    <!-- //skipNav -->
    <!-- header -->
    <header id="header"></header>
    <!-- //header -->
    <!-- container -->
    <div id="container">
        <!-- content -->
        <div id="content" class=""></div>
        <!-- //content -->
    </div>
    <!-- //container -->
    <!-- footer -->
    <footer id="footer"></footer>
    <!-- //footer -->
</div>

@code {

}
