@inherits LayoutComponentBase

@* https://docs.telerik.com/blazor-ui/getting-started/client-blazor#step-3---add-a-telerik-component-to-a-view *@
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        <TelerikRootComponent>
            @Body
        </TelerikRootComponent>
    </div>
</div>
