@* Design From https://bootsnipp.com/snippets/Q0dAX *@
@inject NavMenuService navServices
<div class="page-wrapper chiller-theme toggled">
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>Example</span>
                    </li>
                    @foreach (var liItem in navServices.GetNavMenuService())
                    {
                        <NavComponent navMenu="@liItem" />
                    }                    
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
    </nav>
</div>

@code { 
}
