$koFont-stack: 'Lato', sans-serif;
$font-reset : normal;
$marginPadding: 0;
$point-color: #34b5c5;
$base-color: #d2d2d2;
$bgBase-color: #f6f6f6;
$footerBg-color:#2c383b;
$standard_width: 1100px;
$sort_center: 0 auto;