@inject MessageManager messageManager

<h3>Component</h3>
<button class="btn btn-primary" @onclick="ClickCompBtn">Comp Button</button>
<h4>@messageManager.Message</h4>

@code {
    protected override void OnInitialized()
    {
        messageManager.OnChange += StateHasChanged;
    }
    public void ClickCompBtn()
    {
        messageManager.ClickCompBtn();
    }
}
